In [1]:
import pandas as pd

In [2]:
df2016 = pd.read_csv('data/JC201609-citibike-tripdata.csv')
df2017 = pd.read_csv('data/JC201709-citibike-tripdata.csv')
df2018 = pd.read_csv('data/JC201809-citibike-tripdata.csv')
df2019 = pd.read_csv('data/JC201909-citibike-tripdata.csv')

In [3]:
df2016.head()

,Year,Trip Duration,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,2016,120,3273,Manila & 1st,40.721651,-74.042884,3203,Hamilton Park,40.727596,-74.044247,26157,Subscriber,1989.0,2
1,2016,119,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,24493,Subscriber,1988.0,1
2,2016,425,3206,Hilltop,40.731169,-74.057574,3207,Oakland Ave,40.737604,-74.052478,24464,Subscriber,1961.0,1
3,2016,304,3220,5 Corners Library,40.734961,-74.059503,3212,Christ Hospital,40.734786,-74.050444,24698,Subscriber,1967.0,1
4,2016,1775,3203,Hamilton Park,40.727596,-74.044247,3203,Hamilton Park,40.727596,-74.044247,24626,Subscriber,1984.0,1

In [4]:
df2016 = df2016.dropna(how='any')
df2016.count()

Year                       30585
Trip Duration              30585
Start Station ID           30585
Start Station Name         30585
Start Station Latitude     30585
Start Station Longitude    30585
End Station ID             30585
End Station Name           30585
End Station Latitude       30585
End Station Longitude      30585
Bike ID                    30585
User Type                  30585
Birth Year                 30585
Gender                     30585
dtype: int64

In [5]:
df2016.dtypes

Year                         int64
Trip Duration                int64
Start Station ID             int64
Start Station Name          object
Start Station Latitude     float64
Start Station Longitude    float64
End Station ID               int64
End Station Name            object
End Station Latitude       float64
End Station Longitude      float64
Bike ID                      int64
User Type                   object
Birth Year                 float64
Gender                       int64
dtype: object

In [6]:
df2017 = df2017.dropna(how='any')
df2017.count()

Year                       30735
Trip Duration              30735
Start Station ID           30735
Start Station Name         30735
Start Station Latitude     30735
Start Station Longitude    30735
End Station ID             30735
End Station Name           30735
End Station Latitude       30735
End Station Longitude      30735
Bike ID                    30735
User Type                  30735
Birth Year                 30735
Gender                     30735
dtype: int64

In [7]:
df2018 = df2018.dropna(how='any')
df2018.count()

Year                       39022
Trip Duration              39022
Start Station ID           39022
Start Station Name         39022
Start Station Latitude     39022
Start Station Longitude    39022
End Station ID             39022
End Station Name           39022
End Station Latitude       39022
End Station Longitude      39022
Bike ID                    39022
User Type                  39022
Birth Year                 39022
Gender                     39022
dtype: int64

In [8]:
df2019 = df2019.dropna(how='any')
df2019.count()

Year                       49244
Trip Duration              49244
Start Station ID           49244
Start Station Name         49244
Start Station Latitude     49244
Start Station Longitude    49244
End Station ID             49244
End Station Name           49244
End Station Latitude       49244
End Station Longitude      49244
Bike ID                    49244
User Type                  49244
Birth Year                 49244
Gender                     49244
dtype: int64

In [9]:
df2019.dtypes

Year                         int64
Trip Duration                int64
Start Station ID             int64
Start Station Name          object
Start Station Latitude     float64
Start Station Longitude    float64
End Station ID               int64
End Station Name            object
End Station Latitude       float64
End Station Longitude      float64
Bike ID                      int64
User Type                   object
Birth Year                   int64
Gender                       int64
dtype: object

In [10]:
dfmerged = pd.concat([df2016, df2017, df2018, df2019])
dfmerged.head()

,Year,Trip Duration,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,2016,120,3273,Manila & 1st,40.721651,-74.042884,3203,Hamilton Park,40.727596,-74.044247,26157,Subscriber,1989.0,2
1,2016,119,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,24493,Subscriber,1988.0,1
2,2016,425,3206,Hilltop,40.731169,-74.057574,3207,Oakland Ave,40.737604,-74.052478,24464,Subscriber,1961.0,1
3,2016,304,3220,5 Corners Library,40.734961,-74.059503,3212,Christ Hospital,40.734786,-74.050444,24698,Subscriber,1967.0,1
4,2016,1775,3203,Hamilton Park,40.727596,-74.044247,3203,Hamilton Park,40.727596,-74.044247,24626,Subscriber,1984.0,1

In [11]:
dfmerged.count()

Year                       149586
Trip Duration              149586
Start Station ID           149586
Start Station Name         149586
Start Station Latitude     149586
Start Station Longitude    149586
End Station ID             149586
End Station Name           149586
End Station Latitude       149586
End Station Longitude      149586
Bike ID                    149586
User Type                  149586
Birth Year                 149586
Gender                     149586
dtype: int64

In [12]:
dfmerged.to_csv('citibikemerged.csv', sep = ',')